/* ==UserStyle==
@name           qiita One-Dark like style
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    qiita One-Dark like style
@author         SARDONYX
==/UserStyle== */
@-moz-document domain("qiita.com") {
  :root {
    --blue: #4ebbff;
    --aqua: #55d8e4;
    --orange: #e6a260;
    --violet: #be77ea;
    --white: #e3e3e3;
  }

  /* プロパティの一部 */
  .it-MdContent .highlight .na {
    color: var(--white) !important;
  }

  /*  正規表現リテラル    */
  .it-MdContent .highlight .se,
    /*  整数リテラル    */
    .it-MdContent .highlight .mi,
    /*  ブーリアン    */
    .it-MdContent .highlight .kc {
    color: var(--orange) !important;
  }

  /*  正規表現    */
  .it-MdContent .highlight .sr {
    color: var(--aqua);
  }

  /*  返り値、型定義    */
  .it-MdContent .highlight .kr {
    /*         color: var(--aqua); */
    color: var(--violet);
  }

  .it-MdContent .highlight .k,
  .it-MdContent .highlight .kd,
  .it-MdContent .highlight .kp,
  .it-MdContent .highlight .kt,
  .it-MdContent .highlight .no {
    color: var(--violet);
  }

  /*   関数   */
  .it-MdContent .highlight .fm,
  .it-MdContent .highlight .gi,
  .it-MdContent .highlight .nc,
  .it-MdContent .highlight .nd,
  .it-MdContent .highlight .ne,
  .it-MdContent .highlight .nf,
  .it-MdContent .highlight .nx {
    color: var(--blue);
  }

  .it-MdContent .highlight .n,
  .it-MdContent .highlight .p,
  .it-MdContent .highlight .nb,
  .it-MdContent .highlight .ni,
  .it-MdContent .highlight .nl,
  .it-MdContent .highlight .nn,
  .it-MdContent .highlight .py,
  .it-MdContent .highlight .nv,
  .it-MdContent .highlight .w,
  .it-MdContent .highlight .bp,
  .it-MdContent .highlight .vc,
  .it-MdContent .highlight .vg,
  .it-MdContent .highlight .vi,
  .it-MdContent .highlight .vm {
    color: #e3e3e3;
  }

  /* 文字列 */
  .it-MdContent .highlight .ld,
  .it-MdContent .highlight .s,
  .it-MdContent .highlight .sa,
  .it-MdContent .highlight .sb,
  .it-MdContent .highlight .sc,
  .it-MdContent .highlight .dl,
  .it-MdContent .highlight .sd,
  .it-MdContent .highlight .s2,
  .it-MdContent .highlight .sh,
  .it-MdContent .highlight .si,
  .it-MdContent .highlight .sx,
  .it-MdContent .highlight .s1,
  .it-MdContent .highlight .ss {
    color: #a6ea61;
  }

  /*   予約語   */
  .it-MdContent .highlight .l,
  .it-MdContent .highlight .m,
  .it-MdContent .highlight .mb,
  .it-MdContent .highlight .mf,
  .it-MdContent .highlight .mh,
  .it-MdContent .highlight .mo,
  .it-MdContent .highlight .il {
    color: var(--violet);
  }

  /*  演算子  */
  .it-MdContent .highlight .o,
  .it-MdContent .highlight .gd,
  .it-MdContent .highlight .kn,
  .it-MdContent .highlight .nt,
  .it-MdContent .highlight .ow {
    color: var(--violet);
    /*         color: var(--aqua); */
    color: #f77;
  }
}
